@import "src/assets/styles/adaptive";
.container {
	display: flex;
	gap: 20px;
	margin-top: 150px;
	justify-content: center;
	.skeleton {
		display: flex;
		flex-direction: column;
		gap: 15px;
		border-radius: 5px;
	}
	@include _1150 {
		.skeleton:last-child {
			display: none;
		}
	}
	@include _900 {
		.skeleton:last-child {
			display: flex;
		}
		.skeleton:nth-child(2n) {
			display: none;
		}
	}
	@include _650 {
		.skeleton:nth-child(3n) {
			display: none;
		}
	}
	@include _360 {
		.skeleton {
			display: none;
		}
	}
	.bigSkeleton {
		line-height: 0;
		span {
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
		}
		.rounded {
			border-radius: 0;
			border-bottom-left-radius: 20px;
			border-bottom-right-radius: 20px;
			padding: 0;
		}
	}
}
