@import "src/assets/styles/adaptive";

.skeleton {
	display: flex;
	flex-wrap: wrap;
	max-width: 1170px;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: 76px 44px;
	gap: 20px;
	@include _580 {
		padding: 76px 0;
	}
	div {
		div:last-child {
			span {
				margin-top: 10px;
			}
		}
	}
}

.bigSkeleton {
	display: flex;
	flex-direction: column;
	line-height: 0;
	span {
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		line-height: 0;
	}
	.rounded {
		margin-top: -10px;
		line-height: 0;
		border-radius: 0 0 20px 20px;
		padding: 0;
	}
}
