@import "src/assets/styles/adaptive";
.announcedWrapper {
	margin-top: 60px;
	padding-bottom: 72px;
	background: #fafafa;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	@include _1300 {
		align-items: center;
	}
	h1 {
		align-self: center;
		width: 1270px;
		padding-top: 45px;
		font-size: 1.4rem;
		font-weight: 700;
		line-height: 1.75rem;
		padding-left: 60px;
		@include _480 {
			padding-left: 0;
			width: 100%;
			text-align: center;
		}
		@include _1300 {
			width: 100%;
			align-self: start;
			span {
				padding-left: 0;
			}
		}
		span {
			padding-left: 10px;
		}
	}
	.swiperContainer {
		display: flex;
		justify-content: space-between;
		gap: 18px;
		max-width: 1270px;
	}
	.swiper {
		padding-top: 35px;
		max-width: 1150px;
		align-self: center;
		@include _1200 {
			max-width: 960px;
		}
		@include _1024 {
			max-width: 780px;
		}
		@include _900 {
			max-width: 650px;
		}
		@include _780 {
			max-width: 550px;
		}
		@include _650 {
			max-width: 450px;
		}
		@include _580 {
			max-width: 420px;
		}
		@include _480 {
			display: flex;
			justify-content: center;
			max-width: 300px;
		}
		@include _420 {
			max-width: 240px;
		}
		@include _360 {
			max-width: 200px;
		}

		.swiperItem {
			position: relative;
			@include _480 {
				display: flex;
				justify-content: center;
				max-width: 300px;
			}
		}
	}
	.button {
		align-self: center;
		height: 40px;
		width: 40px;
		color: white;
		background: #1f1f25;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 5px;
		margin-bottom: 50px;
		svg {
			height: 24px;
			width: 100%;
		}
	}
}
.release {
	margin-top: 10px;
	color: #828282;
	background: #f1f1f1;
	padding: 4px 11px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	font-size: 0.8rem;
	font-weight: 600;
	width: 100%;
}
.announce {
	z-index: 3;
	position: absolute;
	bottom: 36px;
	width: 100%;
	height: 40px;
	color: white;
	font-size: 0.85rem;
	font-weight: 600;
	line-height: 1.05rem;
	letter-spacing: 1px;
	@apply bg-purple-900 flex justify-center;
	align-items: center;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	@include _580 {
		width: 190px;
	}
}
.favourite {
	position: absolute;
	width: 32px;
	height: 32px;
	background: white;
	z-index: 2;
	top: 15px;
	right: 15px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #a9a9a9;
}
.description {
	padding-top: 1px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	h3 {
		height: 42px;
		font-size: 0.95rem;
		line-height: 1.1rem;
		font-weight: 700;
	}
	div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.year {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			color: #828282;
			background: #f1f1f1;
			border-radius: 5px;
			font-size: 0.68rem;
			font-weight: 600;
			width: 50px;
			height: 25px;
			p {
				text-align: center;
				width: 50px;
			}
		}
		.genre {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			font-weight: 600;
			font-size: 0.75rem;
			line-height: 0.8rem;
			color: #828282;

			p {
				text-align: right;
			}
		}
	}
}
.slide {
	border-radius: 21px;
	width: 200px;
	height: 285px;
	@include _580 {
		width: 190px;
	}
}
.item {
	cursor: pointer;
	width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	position: relative;
	@include _580 {
		width: 190px;
	}
	img {
		border-radius: 21px;
	}
}
