.main {
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	border-radius: 20px;
	border: 3px solid #f6f6f6;
	padding: 63px 46px;
	margin-top: 90px;
	h1 {
		font-size: 1.5rem;
		font-weight: 700;
		span {
			color: #8c53fd;
		}
	}
	div {
		margin-top: 25px;
		background: #f6f6f6;
		padding: 30px;
		color: black;
		border-radius: 20px;
		font-weight: 600;
		p {
			margin-top: 0;
		}
		span {
			color: #828282;
		}
	}
	p {
		font-weight: 500;
		margin-top: 25px;
	}
}
