@import "src/assets/styles/adaptive";
.banner {
	height: auto;
	color: white;
	width: 100%;
	display: flex;
	justify-content: center;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
	margin-bottom: 60px;
	.bannerContainer {
		position: relative;
		padding: 30px 10px;
		width: 100%;
		margin: auto;
		display: flex;
		justify-content: center;
		background: rgba(0, 0, 0, 0.25);
		@include _744 {
			padding: 10px 10px 0 10px;
		}
	}
}
.content {
	height: 532px;
	width: 1170px;
	> div:first-child {
		width: 400px;

		@include _480 {
			width: 95%;
		}
	}
	@include _830 {
		height: 600px;
	}
	@include _744 {
		height: 650px;
	}
	@include _480 {
		height: 700px;
	}

	h1 {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 2rem;
		width: 100%;
		@include _744 {
			font-size: 2rem;
		}
		@include _480 {
			font-size: 1.8rem;
		}
	}
	.rating {
		display: flex;
		font-size: 1.125rem;
		font-weight: 600;
		padding-top: 10px;
		line-height: 30px;
		.season {
			padding-right: 12px;
		}
		.stars {
			padding-left: 12px;
			gap: 6px;
			border-left: 2px solid white;
			color: #ffd255;
			display: flex;
			align-items: center;
		}
	}
	.description {
		font-weight: 500;
		padding-top: 20px;
		font-size: 1.05rem;
		line-height: 21px;
		letter-spacing: 0.5px;
	}
	.watch {
		margin-top: 30px;
		width: 160px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		@apply bg-purple-900;
		a {
			font-size: 1rem;
			font-weight: 600;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		span {
			padding-left: 10px;
			padding-top: 1px;
		}
	}
}

.swiper {
	position: absolute;
	right: 0;
	bottom: -115px;
	margin-top: 70px;
	max-width: 900px;
	@include _1050 {
		right: -25px;
		max-width: 650px;
	}
	@include _830 {
		right: -25px;
		max-width: 450px;
	}
	@include _744 {
		right: -25px;
		max-width: 450px;
	}
	@include _500 {
		max-width: 400px;
	}
	@include _380 {
		right: -150px;
		max-width: 360px;
	}
	div {
		div {
			cursor: grab;
		}
	}
	.swiperSlide {
		border-radius: 20px;
		width: 191px;
		height: 285px;
		z-index: 2;
	}
}
.swipeLeft {
	cursor: pointer;
	position: absolute;
	top: 110px;
	left: -80px;
	padding: 0;
	margin: 0;
	height: 70px;
	width: auto;
	font-size: 90px;
	@include _380 {
		top: 80px;
	}
}
.skeleton {
	margin-bottom: 60px;
	height: 650px;
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	.background {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}
	.container {
		height: 100%;
		width: 1170px;
		position: absolute;
		top: 50px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		@include _1200 {
			width: 100%;
		}
	}
	.skeletonSlider {
		display: flex;
		align-self: flex-end;
		justify-content: flex-end;
		gap: 20px;
		margin-bottom: -40px;
		margin-right: -150px;
		@include _744 {
			margin-right: -350px;
		}
		@include _480 {
			margin-right: -800px;
		}
	}
}
