@import "src/assets/styles/adaptive";
.banner {
	height: 593px;
	color: white;
	.bannerContainer {
		padding: 81px 10px;
		width: 1160px;
		margin: auto;
	}
}
.content {
	height: 100%;
	> div:first-child {
		width: 380px;
	}
	h1 {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 2.185rem;
	}
	.rating {
		display: flex;
		font-size: 1.125rem;
		font-weight: 600;
		padding-top: 10px;
		line-height: 30px;
		.season {
			padding-right: 12px;
		}
		.stars {
			padding-left: 12px;
			gap: 6px;
			border-left: 2px solid white;
			color: #ffd255;
			display: flex;
			align-items: center;
		}
	}
	.description {
		font-weight: 500;
		padding-top: 20px;
		font-size: 1.05rem;
		line-height: 21px;
		letter-spacing: 0.5px;
	}
	.watch {
		margin-top: 30px;
		width: 160px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		@apply bg-purple-900;
		a {
			font-size: 1rem;
			font-weight: 600;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		span {
			padding-left: 10px;
			padding-top: 1px;
		}
	}
}

.swiper {
	position: absolute;
	right: -30px;
	height: 290px;
	margin-top: 70px;
	max-width: 900px;
	@include _1050 {
		right: -25px;
		max-width: 650px;
	}
	@include _744 {
		right: -25px;
		max-width: 450px;
	}
	@include _500 {
		top: 420px;
		max-width: 350px;
	}
	@include _380 {
		top: 440px;
		max-width: 220px;
	}
	div {
		div {
			cursor: grab;
		}
	}
	.swiperSlide {
		border-radius: 20px;
		width: 191px;
		height: 285px;
		z-index: 2;
		@include _500 {
			width: 150px;
			height: 240px;
		}
		@include _380 {
			height: 200px;
		}
	}
}
.swipeLeft {
	cursor: pointer;
	position: absolute;
	top: 110px;
	left: -80px;
	padding: 0;
	margin: 0;
	height: 70px;
	width: auto;
	font-size: 90px;
	@include _380 {
		top: 80px;
	}
}
