@import "src/assets/styles/adaptive";
.header {
	position: fixed;
	width: 100%;
	@apply bg-gray-950;
	height: 96px;
	display: flex;
	justify-content: center;
	padding: 14px 33px;
	z-index: 12;

	> div {
		max-width: 1172px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex: 1;
		font-size: 0.95rem;
	}
	.container {
		display: flex;
		gap: 10px;
	}
}
