@import "src/assets/styles/adaptive";
.content {
	@apply relative z-2 px-8;
	max-width: 900px;
	@include _780 {
		max-width: 350px;
	}
	@include _650 {
		max-width: 100%;
	}
	> h1 {
		display: flex;
		color: #29282e;
		font-weight: 600;
		font-size: 1.75rem;
		line-height: 1.75rem;
		height: 56px;
		max-width: 450px;
	}

	.rating {
		@apply absolute bottom-8 right-8 flex items-center text-xl opacity-90;

		> svg {
			@apply mb-0.5;
		}

		> span {
			@apply text-white ml-2;
		}
	}

	.details {
		@apply text-white text-opacity-80 my-3;
	}
}
.info {
	margin-top: 35px;
	display: flex;
	flex-direction: column;
	gap: 11px;
	p {
		font-weight: 500;
		font-size: 0.95rem;
		color: #29282e;
		span {
			color: #828282;
		}
	}
}
.extra {
	margin-top: 10px;
	width: 100%;
	display: flex;
	justify-content: center;
	color: #8956fd;
	font-weight: 600;
	font-size: 0.8125rem;
	height: 1.125rem;
}
.description {
	margin-top: 32px;
	display: flex;
	color: #424242;
	font-weight: 500;
}
