@import "src/assets/styles/adaptive";
.banner {
	padding: 14px;
	margin-top: 75px;
	.poster {
		width: 315px;
		border-radius: 16.5px;
	}

	@apply relative  flex;
	@include _650 {
		align-items: center;
		flex-direction: column;
		gap: 40px;
		width: 100%;
	}
	@include _480 {
		align-items: center;
		flex-direction: column;
		gap: 40px;
		max-width: 100%;
	}
}
.addToFavourite {
	margin-top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #8b54fd;
	width: 312px;
	height: 50px;
	padding: 0;

	> p {
		color: #ffffff;
		font-size: 0.8rem;
		letter-spacing: 0.02rem;
		font-weight: 600;
		font-style: normal;
	}
}
