@import "src/assets/styles/adaptive";
.announcedWrapper {
	margin-top: 60px;
	padding-bottom: 72px;
	background: #fafafa;
}
.headContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1170px;
	width: 100%;
	padding-top: 45px;
	.count {
		background: #efefef;
		color: #828282;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 160px;
		height: 40px;
		gap: 5px;
		border-radius: 5px;
		font-size: 1.1rem;
		font-weight: 500;
	}
}
.wrapper {
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	@include _1300 {
		align-items: center;
	}
	h1 {
		width: 80%;
		align-self: flex-start;
		font-size: 1.4rem;
		font-weight: 700;
		line-height: 1.75rem;
		@include _480 {
			width: 100%;
			text-align: left;
		}
		@include _1300 {
			width: 100%;
			align-self: start;
			span {
				padding-left: 0;
			}
		}
		span {
			padding-left: 10px;
		}
	}
	.swiperContainer {
		display: flex;
		justify-content: space-between;
		gap: 18px;
		max-width: 1270px;
	}
	.swiper {
		padding-top: 35px;
		width: 1150px;
		align-self: center;
		display: flex;
		justify-content: center;
		align-items: center;
		@include _1200 {
			max-width: 900px;
		}
		@include _1024 {
			max-width: 780px;
		}
		@include _900 {
			max-width: 650px;
		}
		@include _780 {
			max-width: 610px;
		}
		@include _650 {
			max-width: 450px;
		}
		@include _580 {
			max-width: 380px;
		}
		@include _480 {
			max-width: 450px;
			padding: 20px;
		}
		@include _420 {
			max-width: 410px;
		}
		@include _360 {
			max-width: 360px;
		}
		.swiperItem {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	.button {
		align-self: center;
		height: 40px;
		width: 40px;
		color: white;
		background: #1f1f25;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 5px;
		margin-bottom: 50px;
		svg {
			height: 24px;
			width: 100%;
		}
		@include _480 {
			display: none;
		}
	}
}
.release {
	margin-top: 10px;
	color: #828282;
	background: #f1f1f1;
	padding: 4px 11px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	font-size: 0.8rem;
	font-weight: 600;
	width: 100%;
}

.favourite {
	position: absolute;
	width: 32px;
	height: 32px;
	background: white;
	top: 15px;
	right: 15px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #a9a9a9;
	z-index: 2;
	svg {
		width: 100%;
		height: 100%;
	}
}
.activeFavourite {
	color: #a173ff;
}
.description {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	h3 {
		margin-top: 15px;
		font-size: 0.95rem;
		line-height: 1.1rem;
		font-weight: 700;
	}
	div {
		margin-top: 5px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.year {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			color: #828282;
			background: #f1f1f1;
			border-radius: 5px;
			font-size: 0.68rem;
			font-weight: 600;
			width: 50px;
			height: 25px;
			p {
				text-align: center;
				width: 50px;
			}
		}
		.genre {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			font-weight: 600;
			font-size: 0.75rem;
			line-height: 0.8rem;
			color: #828282;

			p {
				text-align: right;
			}
		}
	}
}
.slide {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 21px;
	width: 200px;
	align-self: center;

	//@include _480 {
	//	height: 340px;
	//	width: 250px;
	//}
	//@include _420 {
	//	height: 340px;
	//	width: 250px;
	//}
	//@include _360 {
	//	height: 360px;
	//	width: 240px;
	//}
}
.item {
	cursor: pointer;
	width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	//@include _480 {
	//	height: 400px;
	//	width: 250px;
	//}
	//@include _420 {
	//	height: 400px;
	//	width: 180px;
	//}
	//@include _380 {
	//	height: 360px;
	//	width: 160px;
	//}
	//@include _360 {
	//	height: 360px;
	//	width: 240px;
	//}
	img {
		height: 270px;
		width: 200px;
		border-radius: 21px;
		position: relative;
		//@include _480 {
		//	height: 280px;
		//	width: 250px;
		//}
		//@include _380 {
		//	height: 230px;
		//	width: 170px;
		//}
		//@include _360 {
		//	height: 260px;
		//	width: 240px;
		//}
	}
}
.announce {
	z-index: 3;
	position: absolute;
	top: 230px;
	width: 200px;
	height: 40px;
	color: white;
	font-size: 0.85rem;
	font-weight: 600;
	line-height: 1.05rem;
	letter-spacing: 1px;
	@apply bg-purple-900 flex justify-center;
	align-items: center;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	@include _580 {
		width: 180px;
	}
	@include _480 {
		width: 195px;
	}
	@include _420 {
		width: 180px;
	}
	@include _360 {
		width: 200px;
	}
}
.catalogItem {
	//@include _480 {
	//	height: 400px !important;
	//	width: 250px !important;
	//}
}
