@import "src/assets/styles/adaptive";
.banner {
	height: 287px;
	width: 100vw;
}
.bannerContainer {
	width: 100%;
	padding: 140px 217px 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	z-index: 2;
	background: rgba(0, 0, 0, 0.3);
	@include _1200 {
		padding: 140px 40px 25px;
	}
}
.info {
	margin-bottom: -25px;
	align-self: flex-end;
	display: flex;
	gap: 25px;
	> div {
		background: white;
		width: 162px;
		height: 77px;
		border-top-left-radius: 12px;
		border-top-right-radius: 12px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		padding-bottom: 5px;
		gap: 5px;
		h3 {
			color: black;
			font-weight: 600;
			font-size: 1.25rem;
		}
		p {
			color: #828282;
			font-weight: 600;
		}
	}
}
.settings {
	cursor: pointer;
	border: 1px solid white;
	border-radius: 10px;
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	svg {
		width: 70%;
		height: 70%;
	}
}
.avatar {
	width: 122px;
	height: 122px;
	border-radius: 50%;
}
.user {
	gap: 15px;
	display: flex;
	align-items: center;
	h3 {
		font-weight: 700;
		font-size: 1.43rem;
	}
	p {
		font-size: 1.05rem;
		font-weight: 500;
	}
}

.wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.3);
	z-index: 6;
	form {
		background: #1f1f25;
		border-radius: 10px;
		border: 3px solid #fafafa40;
		width: 570px;
		height: 824px;
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
}
.heading {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding-top: 20px;
	width: 100%;
	color: white;
	h1 {
		font-size: 1.375rem;
		font-weight: 600;
	}
	button {
		width: 35px;
		height: 35px;
		background: #333238;
		border-radius: 5px;
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		svg {
			width: auto;
			height: 25px;
		}
	}
}
.favorite {
	margin-top: 75px;
}
.recent {
	margin-top: 75px;
}
