@import "../../../assets/styles/adaptive";
.footer {
	background: #1f1f25;
	color: #a8a8a8;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 60px 52px;
	font-weight: 600;
	font-size: 0.95rem;
	margin-top: 108px;
}
.footerContainer {
	width: 780px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
}
.logos {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 54px;

	img {
		cursor: pointer;
	}
	img:hover {
		fill: white;
	}
}

.nav {
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid #a8a8a8;
	width: 100%;
	padding-bottom: 60px;
	@include _650 {
		gap: 20px;
		align-items: center;
		flex-direction: column;
	}
	a:hover {
		color: white;
	}
}
.copyright {
	display: flex;
	gap: 8px;
	@include _480 {
		flex-direction: column;
		align-items: center;
	}
}
