@import "src/assets/styles/adaptive";

.menu {
	display: none !important;
	position: absolute;
	top: 0;
	right: 0;
	padding: 40px 0;
	@apply bg-gray-800;
	z-index: 4;
	width: 221px;
	height: 321px;
	transition: 0.8s;
}

.active {
	padding-top: 80px;
	transition: 0.8s;
	display: flex !important;
	flex-direction: column;
	align-items: center;
	div {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;
	}
}
